#redBtn {
    background-color: crimson;
    
}
#blueBtn {
    background-color: dodgerblue;
}

#toggle {
    background-color: whitesmoke;
    padding: 0.5rem;
    font-size: larger;
    border-radius: 8px;
    
}

body {
    transition: 0.3s;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.gameButtons {
    
    justify-content: space-evenly;
    flex-direction: row;
}

button#blueBtn, button#redBtn {
    padding: 8rem;
    margin: 0.5rem;
    font-size: 70px;
    color: whitesmoke;
}

button {
    padding: 0.5rem;
    margin: 0.2rem;
}

.roadBox {
    display: flex;
    flex-direction: column;
}

.road {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}
.roadLed {
    
    padding: 0.1rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem; 
    margin-top: 0.1rem;
}

.roadLed#red {
    background-color:crimson;
}
.roadLed#blue {
    background-color:dodgerblue;
}

#info {
    font-size: larger;
    font-weight: bolder; 
}

@media (orientation: portrait) {
    .body {
        display: none;
    }
    h2 {
        display: flex;
    }
}